<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
<title>COMPANY NAME</title>
<LINK REL=StyleSheet HREF="css/style.css" TYPE="text/css" MEDIA=screen>
</head>

<body>

<div id="page">
	<div id="menulinks">
		<a href="/"><span>Inicio</span></a>
		<a href="/todas"><span>Todas</span></a>
		<a class="active"  href="/ayuda"><span>Ayuda</span></a>
	</div>	
	
	<div id="header">
			<h1><a href="#">COMPANY NAME</a></h1>
			<div class="description">COMPANY TAGLINE</div>
	</div>
	
	<div id="mainarea">
	    <div id="contentarea">
		    <div align=left>
            <h2>RECURSOS DE LA PAGINA Y SU EXPLICACION:</h2>
            <h3>/ --> Muestra las 10 primeras actividades<br>
            <h3>todas/ --> Muestra todas las actividades y un formulario para ordenarlas <br>
            <h3>/actividad/id --> Muestra la actividad del id introducido con mas detalle<br>
            <h3>/usuario --> Muestra la pagina del usuario con su lista de actividades favoritas<br>
        </div>
		
	</div>

	
	<div id="footer">
		Todos los derechos reservados. Página web hecha por Nacho Manrique Pérez</a>
	</div>


</div>

</body>

</html>
