<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
<title>ACTIVIDADES</title>
<LINK REL=StyleSheet HREF="css/style.css" TYPE="text/css" MEDIA=screen>
</head>

<body style="background-color:{{fondo|safe}};color:{{letra|safe}};">

<div id="page">
	<div id="menulinks">
		<a href="/"><span>Inicio</span></a>
		<a class="active" href="/todas"><span>Todas</span></a>
		<a href="/ayuda"><span>Ayuda</span></a>
	</div>	
	
	<div id="header">
			<h1>ACTIVIDADES EN LA</h1>
            <h1>COMUNIDAD DE MADRID</h1>
			
	</div>
	
	<div id="mainarea">
	<div id="contentarea">
		<h2>TODAS LAS ACTIVIDADES</h2>
		{{todas|safe}}
		
	</div>
	
	<div id="sidebar">
		<h2>FILTRO DE BUSQUEDA</h2>
		{{filtro|safe}}
		<strong></strong>
	</div></div>
	
	<div id="footer">
		Todos los derechos reservados. Página web hecha por Nacho Manrique Pérez</a>
	</div>


</div>

</body>

</html>
