<!doctype html>

<html lang="es">
<!--      
<head> 
     <meta charset="UTF-8" />
     <title>the app</title>
    <link href="css/index.css" rel="stylesheet">-->
</head>
     
    <div>
        <img id = "banner" src="http://mlu-s2-p.mlstatic.com/musica-para-tu-fiesta-noche-de-oldies-7-horas-1863-MLU4599383491_072013-F.jpg" />
        
    </div>

    <form action="/accounts/auth/" method="post">{% csrf_token %}
        <label for="username">User name:</label>
        <input type="text" name="username" value="" id="username">
        <label for ="password">Password:</label>
        <input type="password" name="password" value="" id="password">
    
        <input type="submit" value="login" />
    </form>

    <div> 
        <p ALIGN=left><h4>{{user}}</h4><a href="/logout"></h3>salir</a></h3></p>
    </div>
    
    <body background="images/fondo2.jpg" >   
          <div id = "content-menu">
             <nav> 
               <ul class = "menu">
                  <li><a href="/todas">Todas</a></li>
                  <li><a href="/ayuda">Ayuda</a></li>                
              </ul>
            </nav> 
        	</div>
      
          <br><br>
            <hr>  
          <div id="pie"  >
                 <p align = center> 
                    Estoy en situasion de la ostia. Este sitio tiene copyright de Nacho Manrique
                  </p>   
           </div>         
    </body>

    </hmtl>


   
